<!DOCTYPE html>
<html>
  <head>
    <title>dahlinghaus.net</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
  </head>

  <body>
    <%- body %>

    <!--
    <script 
      src="/sails.io.js"
      headers='{ "x-csrf-token": "<%= typeof _csrf !== 'undefined' ? _csrf : '' %>" }'/>
    </script>
    -->
  </body>
</html>
